header{
  background-color: rgb(58, 58, 58);
  padding: 15px;
}

header a{
  color: antiquewhite;
  font-size: 1.5rem;
  text-decoration: none;
}

main h1{
  padding: 10px 20px;

}

.products{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product{
  margin: 1rem;
  border: 1px rgb(53, 53, 67) solid;
  border-radius: 15px;
}

.product img{
  width: 250px;
  height: 300px;
  max-width: 300px;
  margin: 10px;
} 

.proudctInfo{
  padding: 10px 20px;
}